@{
    Layout = "_Layout";
}


@{
    ViewData["Title"] = "Paste Bin Clone";
}

<title>@ViewData["Title"] - Paste Bin Clone</title>


@* <h2>My Paste Bin Clone</h2>

<p>Hello from our View Template!</p> *@
